In [1]:
# Installation Process

# (1). Install python in our system ==> Install vs code in system ===> In vs code install python Extension

# (2). Install Anaconda in our system ===> Launch Jupyter Notebook ==> Create a New Notebook

# (3). Open Google Colab in Browser ===> New Notebook

In [2]:
# Introduction to Python ==> Python is a high-level , general purpose , interpreted
# programming language which was invented in 1991 by Guido Van Rossoum .

In [3]:
# Fundamentals of Python ===>
# (1). Data type
# (2). Variable
# (3). input() & print()

In [4]:
# (1). Data type
# (a). Integer ===> All positive and negative values .
# Ex. 34 , 67 , -12 , -78 , 45678

# (b). Float ===> All decimal values .
# Ex. 34.89 , 234.899

# (c). String ====> 'single quotes' , "double_quotes" , '''triple_quotes'''
# Ex. 'sam' , "sam" , '''sam'''

# (d). Boolean ===> TRUE , FALSE
# Ex. 5>4 ===> Output True
# 4<1  ===> Output False

In [10]:
# type() ===> Using type() , we can check data type of element.
type(5>4)

bool

In [15]:
# (2). Variable ===> This is a container in which we can store or assign our values.
a = 'sam'
b = 56
c = 45.89     ### variables = a,b,c

# (1).Numbers variable xx
# 45 = 'sam'

# (2). If you want to use more than 2 words then you can use _ or -
good_morning = 78

In [18]:
# print() ===> Using print() , we can execute our query on terminal.
print(45)
print('sam')
print(67.244)

45
sam
67.244

In [19]:
# input() ===> This will ask query from users and its output will be in string format .

In [20]:
a = input("Enter your name:")
print(a)

Enter your name:Rahul
Rahul

In [21]:
type(a)

str

In [22]:
# How can we add 2 numbers using python ?
a = 1
b = 5
c = a + b
print(c)

6

In [23]:
a = input("Enter first number:")
b = input("Enter second number:")
c = a + b
print(c)

Enter first number:12
Enter second number:34
1234

In [24]:
type(c)

str

In [25]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = a + b
print(c)

Enter first number:12
Enter second number:34
46

In [26]:
# Conditional Statement in Python
# (1). if
# (2). elif
# (3). else

In [29]:
# Q.1
a = 'Rahul'
if(a == 'sam'):
  print('Yes')
elif(a =='Rahul'):
  print('No')
else :
  print('Try Again')

### = for values Assignment
### == for values comparison

No

In [30]:
# Loop in Python
# (1). For loop
# (2). while loop
# Index = 0 , length = 1

In [34]:
# method - 1
for i in range(1,7,2):
  print(i)

1
3
5

In [35]:
# syntax
# for i in range(min_number , max_number+1 , step_number):
#   print(i)

In [36]:
# method - 2
a = "sam"
for i in a :
  print(i)

s
a
m

In [39]:
# method - 2
a = "sam"
for i in a :
  print(i , end = "   ")

s   a   m

In [40]:
# (2). while loop
# (a). Initialization
# (b). Condition
# (c). Increment or decrement

In [41]:
# Q.1 Write a program who print 1 to 3 using while loop ?
i= 1     ### Initialization
n = 3
while(i<=n):   ## Condition
  print(i)
  i = i + 1   ### Increment

1
2
3

In [42]:
# f(x) = x + 2
# f(1) = 1 + 2 = 3
# f(2) = 2 + 2 = 4

In [43]:
# # step-1 (i = 1 , n = 3)
# while(1<=3):
#   print(1)
#   i = 1 + 1 = 2

# # step-2 (i = 2 , n = 3)
# while(2<=3):
#   print(2)
#   i = 2 + 1 = 3

# # step-3(i = 3 , n = 3)
# while(3<=3):
#   print(3)
#   i = 3 + 1 = 4

# # step-4 (i = 4 , n = 3)
# while(4<=3):
#   break

# # Final Output ===> 1,2,3

In [44]:
# Functions in Python
# (1). Pre-defined Functions ===> input() , print() , min() , sort().....
# (2). Manually Created Functions ====>
# (a). def
# (b). Name of function
# (c). logics of function
# (d). Call the function(Name of function)

In [45]:
# syntax of functions
# def Name_of_Function():
#   logics
# Call_the_function()

In [47]:
# Ex.1 Create a function who add 2 numbers ?
def my_add():
  a = 1
  b = 4
  c = a + b
  print("Addition = " , c)
my_add()

Addition =  5

In [48]:
# Argument or Parameters
# Parameters ===> These are the values which we passes when we create a function .
# Argument ===> These are the values which we passes when we call the function .

In [49]:
def my_add(a,b):
  c = a + b
  print("Addition = " , c)
p = 4
q = 6
my_add(p,q)    ### (p,q) are arguments and (a,b) are parameters .

Addition =  10

In [50]:
# List in Python ===>
# (1). Identification = []
# (2). Mutable data type ===> we can change or update our values at a run time .
# (3). Indexing start from 0 and length start from 1 .

In [51]:
a = ['sam' , 67 , 'rahul' , 45.89]
type(a)

list

In [53]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

sam
67
rahul
45.89

In [56]:
a[1] = 5000
print(a)

['sam', 5000, 'rahul', 45.89]

In [57]:
# Functions in python
# (1). min()
a = [1,2,3,4]
min(a)

1

In [58]:
max(a)

4

In [60]:
a = ['sam' , 'rohit' , 56]
print(a)
a.append('Rohan')     ### using append() we can  add elements in the last indexing of list/
print(a)

['sam', 'rohit', 56]
['sam', 'rohit', 56, 'Rohan']

In [61]:
a.insert(1 , 'Pallavi')  ## insert(index_number, object)
print(a)

['sam', 'Pallavi', 'rohit', 56, 'Rohan']

In [62]:
a.remove('Pallavi')   ## remove(object)
print(a)

['sam', 'rohit', 56, 'Rohan']

In [64]:
a.pop()  ## using pop() we can delete element from last indexing .
print(a)
a.pop()
print(a)

['sam', 'rohit']
['sam']

In [65]:
a.reverse()
print(a)

['sam']

In [66]:
a = [1,2,3,4]
a.reverse()
print(a)

[4, 3, 2, 1]

In [69]:
# How can we create a user defined List ?
a = []
size = int(input("Enter size:"))
for i in range(size):
  val = int(input("Enter item:"))
  a.append(val)
print(a)
sum = 0
for i in range(len(a)):
  sum = sum+ a[i]
print(sum)

Enter size:4
Enter item:1
Enter item:2
Enter item:3
Enter item:4
[1, 2, 3, 4]
10

In [70]:
a = [1,2,3,4]
# step-1 (sum = 0 a[0] = 1)
# sum = 0 + 1 = 1

# step-2 (sum = 1 , a[1] = 2)
# sum = 1 + 2 = 3

# step-3 (sum = 3 , a[2] = 3)
# sum = 3 + 3 = 6

# stwp-4 (sum = 6 , a[3] = 4)
# sum = 6 + 4 = 10
# Final Output = 10

In [71]:
# Tuple in Python
# Identification = ()
# Immutable data type ===> we cannot change or update any values at a run time .
# Indexing start from 0 and length start from 1 .

In [72]:
a = ('sam' , 56 , 'Raj' , 89.23)
type(a)

tuple

In [75]:
# a[1] = 700

In [76]:
# type-casting ===> changing one data type to another data type .

In [77]:
b = list(a)
b

['sam', 56, 'Raj', 89.23]

In [78]:
b[1] = 700
b

['sam', 700, 'Raj', 89.23]

In [79]:
c = tuple(b)
c

('sam', 700, 'Raj', 89.23)

In [84]:
a = (1,2,3)
# a[1]=55
print(a)
b = list(a)
b[1] = 55
print(b)
c = tuple(b)
print(c)

(1, 2, 3)
[1, 55, 3]
(1, 55, 3)

In [87]:
# loop in tuple
a = (1,23,4,5,6)
for i in range(len(a)) :
  print(a[i])

1
23
4
5
6

In [88]:
# Dictionary in Python
# (1). Identification = {key:value , key:value.......}
# (2). Elements are separated from comma .
# (3). Mutable data type

In [89]:
a = {'brand':'Kia' , 'Model':'Celtos' , 'year':2023}
type(a)

dict

In [90]:
len(a)

3

In [92]:
a['year'] = 2024  ### update in dictionary
print(a)

{'brand': 'Kia', 'Model': 'Celtos', 'year': 2024}

In [93]:
a['color'] = 'black'
print(a)

{'brand': 'Kia', 'Model': 'Celtos', 'year': 2024, 'color': 'black'}

In [94]:
# Loop in Dictionary
for i in a.keys():   ### Extract all the keys
  print(i)

brand
Model
year
color

In [95]:
for i in a.values():   ## Extract all the values
  print(i)

Kia
Celtos
2024
black

In [96]:
for x,y in a.items():  ## Extract all the keys and values
  print(x,y)

brand Kia
Model Celtos
year 2024
color black

In [97]:
a

{'brand': 'Kia', 'Model': 'Celtos', 'year': 2024, 'color': 'black'}

In [99]:
a.pop('color')
a

{'brand': 'Kia', 'Model': 'Celtos', 'year': 2024}

In [100]:
a.popitem()
a

{'brand': 'Kia', 'Model': 'Celtos'}

In [101]:
a.popitem()
a

{'brand': 'Kia'}

In [102]:
# Sets in Python
# Identification = {}
# Mutable data type
# Unordered , unindexed
# has only unqiue values

In [103]:
a = {'raj' , 45 , 'raj'}
print(a)

{45, 'raj'}

In [104]:
a.add('Rahul')
print(a)

{'Rahul', 45, 'raj'}

In [105]:
a = {1,2,3,4}
b = {3,4,5,6}
a.intersection(a,b)

{3, 4}

In [106]:
a.union(a,b)

{1, 2, 3, 4, 5, 6}

In [107]:
a-b ## elements that are present in a not in b .

{1, 2}

In [108]:
b-a  ## elements that are present in b not in a .

{5, 6}

In [109]:
a = {'brand':'kia'}
type(a)

dict

In [110]:
a = {4,1,4,55,6}
type(a)

set

In [111]:
# Google ===> Instant Data Scraper Extension ==> Add to Crome
# FlipKart ==> Mobile 5g search ===> Instant data scraper extension click ==>
# output data save into csv format

In [113]:
# Project - Chatbot
# Anaconda Install ===>
# C:\Users\saurabh\anaconda3\Scripts
# C:\Users\saurabh\anaconda3\Library\bin

# Go to Edit Environment variable ===> Environment variable click ===>
# Path click edit option click ===> paste the scripts folder and bin folder directories

# For create virtual environment and if you want to install any package from terminal then
# you can use conda if you paste scripts and bin directoreis in environment variables.

# Go to Browser  ===> Install Python ==> bin, scripts folder ===> environment variable
# ---------------------------------------------------------

# VS Code in your system

# Project Structure
# Venv
# requirements.txt file ===> Put all the packages here that are needed in our app
# .env  ===> we will put our all secrets here
# app.py ===> we will put our all logics here for create the application .

In [114]:
# If you want to work on local system without creating virtual environment

# requirements.txt file ===> Put all the packages here that are needed in our app
# .env  ===> we will put our all secrets here
# app.py ===> we will put our all logics here for create the application .

# API  ===> Application Programming Interface ===> mediator ===> client to service
# How can we create our google api key ?

# Go to google ===> search makersuite api key ===> click this ===>
# login on google  ===> click on create api key ===> it will generate api key and
# then you have to copy it and paste it into .env file

In [115]:
# step-1
# Create a folder and open vs code in it .

# step-2
# open terminal and write
# conda create -p venv python==3.10 -y
# conda activate venv/

# step-3
# create a 'requirements.txt' file in which we have to put our packages
# streamlit   ====> for ui
# python-dotenv ===>connect your secrets to your app.py
# google-generativeai ==> genai library

# step-4
# open the terminal and write
# pip install -r requirements.txt

# it will install all the packages that we have to needed in our application
# pip stands for python Installer Packages

In [ ]:
# upser ===> input ==> api key ===> google-generative model ==> return response

In [ ]:
### Who are working without virtual enviornment

# create a 'requirements.txt' file in which we have to put our packages
# streamlit   ====> for ui
# python-dotenv ===>connect your secrets to your app.py
# google-generativeai ==> genai library

# step-4
# open the terminal and write
# pip install -r requirements.txt


# In app.py
# function ==> as argument his/her query ===> google model hit ===> response return

# step-4
# from dotenv import load_dotenv
# load_dotenv()

# import streamlit as st
# import os
# import google.generativeai as genai

# genai.configure(api_key=os.getenv("GOOGLE_API_KEY"))

# model = genai.GenerativeModel("gemini-pro")

# def my_output(query):
#     response = model.generate_content(query)
#     return response.text

# #### UI Development using streamlit

# st.set_page_config(page_title="SMART_BOT")
# st.header("SMART_BOT")
# input = st.text_input("Input " , key = "input")
# submit = st.button("Ask your query")

# if submit :
#     response = my_output(input)
#     st.subheader("The Response is=")
#     st.write(response)




# Now open the terminal and write
# streamlit run app.py


# ---------------------------------------------------------------------

# Our application will run on local system


# -------------------------------------------------------------------

# How can we deploy our application ???

# go to github ==> create your accout
# Install git bash
# Project ===> open git bash

# git init
# git add app.py
# git add requirements.txt
# git commit -m "added"

# open github ===> create a new repo ===>
# git remote add origin https://github.com/username/project.git
# git push -u origin master

# using these commands you can deploy your application on github


# Go to browser ===> Streamlit Cloud ==> Register with github ===>
# create app ===> 2 options (a) you have already app (b) you want to create app
# click already have app ==>
# paste the github name of repo
# branch name
# app.py
# advance settings ===> paste your google api key here
# Click on deploy

# --------------------------------------------------------------------------------------------------------

In [ ]:
# Project -2 (How can we generate Text to Image)???